html{
  background-color: #115E67;
}
body{
    background-color: #115E67;
    color: #F1B434
}

.b{
  background-color: #0095C8;
}


.p{
  background-color: #AA0061;

}
.btn{
  margin-right: 10px;
  color: white;
}
