html{
  background-color: #115E67;
}
body{
    background-color: #115E67;
    color: #F1B434
}

h1{
  Text-align: center;
  font-size:30px;
}

.b{
  background-color: #0095C8;
}


.p{
  background-color: #AA0061;
}

.btn{
  margin-right: 10px;
  color: white;
}

.list-group{
  max-height: 350px;
}
